<div class="inner home">
  <header>
    <h1>RSS on Rails</h1>
    <h2>Your Simple RSS Feed Reader</h2>
  </header>
  <section class="tiles">
    <article class="style1">
      <span class="image">
        <%= image_tag "pic07.jpg" %>
      </span>
      <a href="/rss_sources">
        <h2>Manage Your Feeds</h2>
        <h3></h3>
        <div class="content">
          <p></p>
        </div>
      </a>
      </article>
      <article class="style2">
        <span class="image">
          <%= image_tag "pic01.jpg" %>
        </span>
        <a href="/rss_articles">
          <h2>View Articles</h2>
          <h3></h3>
          <div class="content">
            <p></p>
          </div>
        </a>
        </article>
  </section>
</div>
