# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU

RSS_ON_RAILS_APP_DEVELOPMENT_DATABASE_NAME: db-dev
RSS_ON_RAILS_APP_DEVELOPMENT_DATABASE_USERNAME: username
RSS_ON_RAILS_APP_DEVELOPMENT_DATABASE_PASSWORD: password
RSS_ON_RAILS_APP_DEVELOPMENT_DATABASE_HOST: localhost
RSS_ON_RAILS_APP_DEVELOPMENT_DATABASE_PORT: "5432"

RSS_ON_RAILS_APP_TEST_DATABASE_NAME: db-test
RSS_ON_RAILS_APP_TEST_DATABASE_USERNAME: username
RSS_ON_RAILS_APP_TEST_DATABASE_PASSWORD: password
RSS_ON_RAILS_APP_TEST_DATABASE_OST: localhost
RSS_ON_RAILS_APP_TEST_DATABASE_PORT: "5432"

RSS_ON_RAILS_APP_PRODUCTION_DATABASE_NAME: db-prod
RSS_ON_RAILS_APP_PRODUCTION_DATABASE_USERNAME: username
RSS_ON_RAILS_APP_PRODUCTION_DATABASE_PASSWORD: password
RSS_ON_RAILS_APP_PRODUCTION_DATABASE_HOST: localhost
RSS_ON_RAILS_APP_PRODUCTION_DATABASE_PORT: "5432"
